
    <div class="col-6">
        <h1>Create a new restaurant</h1>
        <%= simple_form_for(@restaurant) do |f| %>
          <div class="col-9">
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :phone_number %>
            <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
            <%= f.button :submit, class:"btn-warning" %>
            <% end %>
          </div>
    </div>
