<div class="col-5 p-4 m-4 border border-info rounded">
      <h2 class="text-dark"><%=@restaurant.name  %></h2>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>

      <% @restaurant.reviews.each do |review| %>
      <p>Comment: <%= review.content%> || Rating: <%= review.rating %></p>
      <% end %>

      <%# <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-warning"  %> %>
</div>
<div class="col-6">
  <h2> Write a review for the <%=  @restaurant.category %> restaurant : <br> <%=  @restaurant.name %> </h2>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection:  [0, 1, 2, 3, 4, 5]%>
    <%= f.button :submit, class:"btn-warning" %>
  <% end %>
</div>
